@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}



/* style for header  */
header {
    background-color: #fff;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
}

.logo-box {
    text-align: center;
    /* padding: 1rem;  */

}

.logo-box img {
    width: 100px;
}

.logo-text {
    border-radius: 3px 1rem;
}

.logo-text h2 {
    font-size: 3rem;
}

.logo-text .ln {
    color: #ec7f24;
}

.logo-text .fn {
    color: #9d3a23;
}

.social-links span {
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #cd4c2f;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.social-links span:hover {
    background-color: #9d3a23;
    color: #fff;
}

.navbar {
    background-color: #ec7f24;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.navbar .logo-text {
    background-color: #fff;
    padding: .5rem;
}

.navbar h2 {
    font-size: 2rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.lg-navbar li {
    margin-left: 1rem;

}

.navbar a {
    text-decoration: none;
    color: #3d322f;
    color: white;
    transition: all .5s ease;
    padding: .5rem 1.5rem;
    display: inline-block;
    border-radius: 5px 1rem;
    background-color: #cd4c2f;
    width: 100%;

}

.navbar a.active,
.navbar a:hover {
    background-color: #9d3a23;

}

.sm-navbar {
    display: none;
}

/* footer styling starts here  */
footer {
    border-top: 50px solid #ec7f24;
    background-color: #fff;
    padding-top: 1rem;
}

footer .logo-box {
    padding: 2rem;
}

.footer-address-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: #ec7f24;

}

.address-text {
    padding: 1rem 2rem;
    background-color: #cf6a17;
    border-radius: 5px 4rem;
    color: #ddd;
    min-width: 270px;
    margin: 1rem auto;
    cursor: pointer;
    transition: all .5s ease;
}

.address-text:hover {
    background-color: #c26315;
}

.location {
    padding: .5rem;
}

.phone,
.timing,
.note {
    padding: .5rem 0;
}

.bottom-footer-text {
    padding: 2rem;
    background-color: #9d3a23;
    text-align: center;
    color: #ddd;
}



/* +++++++++++++++++++++ Responsiveness starts here ++++++++++++++++++++++  */
/* for phone screen  */
@media (min-width:280px) and (max-width:480px) {
    .top-navbar {
        flex-direction: column;
        padding: .5rem;
        text-align: center;
    }

    .social-links {
        display: none;
    }

    .navbar .lg-navbar {
        display: none;
    }

    .sm-navbar {
        display: block;
    }

    .navbar h2 {
        font-size: 16px;
    }

    .navbar .sm-navbar {
        position: relative;
    }

    .sm-navbar #sm-navbar-content {
        display: block;
        padding: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        min-width: 270px;
        height: 100vh;
        background-color: #ec7f24;
        z-index: 999;
        display: none;
    }

    .sm-navbar li {
        width: 100%;
        margin-top: .5rem;
    }

    .sm-navbar button {
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        border-radius: 50%;
        font-size: 18px;
        color: #cd4c2f;
        cursor: pointer;
    }

}

/* for tablet screen  */

@media (min-width:481px) and (max-width:768px) {
    .top-navbar {
        flex-direction: column;
        padding: .5rem;
        text-align: center;
    }

    .social-links span {
        margin: .5rem;
        width: 40px;
        height: 40px;
    }

    .navbar .lg-navbar {
        display: none;
    }

    .sm-navbar {
        display: block;
    }

    .navbar h2 {
        font-size: 16px;
    }

    .navbar .sm-navbar {
        position: relative;
    }

    .sm-navbar #sm-navbar-content {
        display: block;
        padding: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        min-width: 270px;
        height: 100vh;
        background-color: #ec7f24;
        z-index: 999;
        display: none;
    }

    .sm-navbar li {
        width: 100%;
        margin-top: .5rem;
    }

    .sm-navbar button {
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        border-radius: 50%;
        font-size: 18px;
        color: #cd4c2f;
        cursor: pointer;
    }
}

/* for laptop screen  */
@media (min-width:769px) and (max-width:1024px) {
    .navbar h2 {
        font-size: 1.5rem;
    }

    .navbar a {
        padding: .5rem 1rem;
    }
}